nav {
	height: var(--nav-height);
}

nav img {
	max-height: var(--nav-content-height);
}

.TreeNode>* {
	color: var(--l5) !important;
}

.TreeNode:hover * {
	color: var(--l4) !important;
}

#steamWidget {

}

.PrivacyPolicyForDebris h3 {
	padding-top: 1em;
	padding-bottom: 0.3em;
}

.PrivacyPolicyForDebris ol,
.PrivacyPolicyForDebris ul,
.PrivacyPolicyForDebris li {
	padding-left: revert;
}

.PrivacyPolicyForDebris ul {
	padding-left: 1.025em;
}