* {
	/* resets */
	padding: 0;
	margin: 0;
}

:root {
	--primaryColor: #0DD8F2;
	--backgroundColor: #000;
	--foregroundColor: #fff;

	--layerColor: #41414159;

	--darkGlassColor: #1a1a1acc;
	--darkGlassBlurradius: 30px;

	line-height: 1em;
	
	background-color: var(--backgroundColor);
	color: var(--foregroundColor);
	
	--site-padding: 64px;
	--nav-content-height: 30px;
	--nav-height: 60px;

	--normalFontSize: 24px;
	--largerFontSize: 32px;
	--largeFontSize: 64px;
}

@media (prefers-color-scheme: light) {
	:root {
		--primaryColor: hsl(187, 90%, 40%);
		--backgroundColor: #fff;
		--foregroundColor: #000;
		--darkGlassColor: hsla(0, 0%, 70%, 0.508);
	}
}

nav {
	height: var(--nav-content-height);
	background-color: var(--darkGlassColor);
	backdrop-filter: blur(var(--darkGlassBlurradius));
	
	padding: calc((var(--nav-height) - var(--nav-content-height)) / 2);
	padding-left: var(--site-padding);

	position: fixed;
	width: 100%;
}

a.Headbar, p.Headbar{
	--glowColor: var(--primaryColor);
	transition: text-shadow 300ms cubic-bezier(0.165, 0.84, 0.44, 1), color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

	font-family: 'Readex Pro', sans-serif;
	--size: 36px;
	line-height: var(--nav-content-height);
	font-weight: 300;
}

a.Headbar:hover, p.Headbar:hover {
	color: var(--glowColor);
	text-shadow: 0 0 4px var(--glowColor);
}

main {
	padding-top: calc(var(--nav-height) + var(--site-padding));
}

main>* {
	padding-left: var(--site-padding);
	padding-right: var(--site-padding);
}

p, a {
	--size: var(--normalFontSize);

	color: var(--foregroundColor);
	font-family: 'Readex Pro';

	font-size: var(--size);
	line-height: calc(var(--size) * 1.2);
	text-decoration: none;

	margin-bottom: 10px;
}

.Headline {
	font-family: "Hanken-Grotesk", sans-serif;
	--size: var(--largeFontSize);

	font-weight: bold;

	margin-bottom: 4px;
}

p.Important, a.Important {
	font-family: 'Readex Pro', sans-serif;
	--size: var(--largerFontSize);

	margin-bottom: 5px;

	font-weight: 600;
}

div.Box {
	background-color: var(--layerColor);

	--horizontalOffset: 15px;

	margin: 20px calc(var(--horizontalOffset) * -1);
	padding: 13px var(--horizontalOffset);
	
	display: inline-block;
	border-radius: 8px;
}

div.Box p.Important, div.Box a.Important {
	margin-bottom: unset;
}

div.Box p.Detail, div.Box a.Detail {
	margin-bottom: unset;
	padding-left: 10px;
	padding-right: 10px;
}

p.Detail, a.Detail {
	font-family: 'Readex Pro', sans-serif;
	
	--size: var(--normalFontSize);
	line-height: 30px;

	font-weight: 300;
}

img.Logo {
	width: 175px;
	height: 30px;
}

section {
	margin-top: var(--site-padding);
	/* margin-bottom: var(--site-padding); */

	padding: var(--site-padding)
}

div.Row {
	display: grid;
	gap: min(2.5%, var(--site-padding));

	grid-template-columns: minmax(300px, 570px) minmax(200px, 310px) minmax(150px, 300px) 430px;
	grid-template-rows: auto;
}

div.Row div.Box {
	--horizontalOffset: 0px;
	padding-top: 0;
	padding-bottom: 4px;
}

div.Box>img {
	width: 100%;
	height: 270px;
	object-fit: cover;
	object-position: 50% 0;
	border-radius: 8px;
}

/* Smaller */
@media screen and (max-width: 1530px) {
	div.Row {
		grid-template-columns: auto 560px;
	}

	
	div.Box>img {
		height: 350px;
	}
}

/* Tab */
@media screen and (max-width: 1030px) {
	div.Row {
		grid-template-columns: auto;

		padding-bottom: 176px;
	}

	
	div.Box>img {
		height: 500px;
	}
}

/* phone */
@media screen and (max-width: 786px) {
:root {
	--site-padding: 16px;
	
	--normalFontSize: 18px;
	--largerFontSize: 24px;
	--largeFontSize: 48px;
}

	div.Row {
		padding-bottom: 64px;
	}

	
	div.Box>img {
		height: 180px;
	}

	p.Detail {
		line-height: calc(var(--normalFontSize) * 1.25);
		margin-bottom: 16px;
	}
}