:root {
  --bigger-text-font-family: "Readex Pro", Helvetica;
  --bigger-text-font-weight: 400;
  --bigger-text-font-size: 24px;
  --bigger-text-letter-spacing: 0px;
  --bigger-text-line-height: normal;
  --bigger-text-font-style: normal;
  --detail-text-font-family: "Readex Pro", Helvetica;
  --detail-text-font-weight: 300;
  --detail-text-font-size: 24px;
  --detail-text-letter-spacing: 0px;
  --detail-text-line-height: normal;
  --detail-text-font-style: normal;
  --headline-font-family: "Hanken Grotesk", Helvetica;
  --headline-font-weight: 700;
  --headline-font-size: 64px;
  --headline-letter-spacing: 0px;
  --headline-line-height: normal;
  --headline-font-style: normal;
  --important-bigger-text-font-family: "Readex Pro", Helvetica;
  --important-bigger-text-font-weight: 600;
  --important-bigger-text-font-size: 32px;
  --important-bigger-text-letter-spacing: 0px;
  --important-bigger-text-line-height: normal;
  --important-bigger-text-font-style: normal;
  --subtitle-font-family: "Readex Pro", Helvetica;
  --subtitle-font-weight: 200;
  --subtitle-font-size: 36px;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: normal;
  --subtitle-font-style: normal;
}
