.bold {
	font-weight: bold;
}

.normal {
	font-weight: 400;
}

.light {
	font-weight: 300;
}

.thin {
	font-weight: 100;
}

.primaryAccent {
	--currentForeground: var(--primaryAccentColor);
	color: var(--primaryAccentColor);
}

.hvPrimaryAccent:hover {
	--currentForeground: var(--primaryAccentColor);
	color: var(--primaryAccentColor);
}

.mutedPrimaryAccent {
	--currentForeground: var(--mutedPrimaryAccentColor);
	color: var(--mutedPrimaryAccentColor);
}

.hvMutedPrimaryAccent:hover {
	--currentForeground: var(--mutedPrimaryAccentColor);
	color: var(--mutedPrimaryAccentColor);
}

.darkPrimaryAccent {
	--currentForeground: var(--darkPrimaryAccentColor);
	color: var(--darkPrimaryAccentColor)
}

.foreground {
	--currentForeground: var(--foregroundColor);
	color: var(--foregroundColor);
}

.underline {
	text-decoration: underline solid 1.8px;
	text-decoration-skip-ink: none;
}

.bg-bg {
	background-color: var(--backgroundColor);
}

.bg-fg {
	background-color: var(--foregroundColor);
}

.bg-l1 {
	background-color: var(--l1);
}

.fg-l1 {
	--currentForeground: var(--l1);
	color: var(--l1);
}

.fg-error {
	color: var(--errorColor);
}

.bg-l2 {
	background-color: var(--l2);
}

.bg-error {
	background-color: var(--errorColor);
}

.border-error {
	border-color: var(--errorColor);
}

.border-errory {
	border-color: var(--erroryColor);
}

.hover-fg:hover {
	--currentForeground: var(--foregroundColor);
	color: var(--foregroundColor);
}

.hover-bg:hover {
	--currentForeground: var(--backgroundColor);
	color: var(--backgroundColor);
}

.fg-l2 {
	--currentForeground: var(--l2);
	color: var(--l2);
}

.hover-fg-l2:hover {
	--currentForeground: var(--l2);
	color: var(--l2);
}

.hoverUnderlineAnimation {
	position: relative;
	width: fit-content;
}

.hoverUnderlineAnimation::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	/* Thickness of the underline */
	bottom: 0;
	left: 0;

	background-color: var(--decorationColor);
	/* Underline color */
	transform-origin: bottom right;

	transform: scaleX(0);
	transition: transform 0.4s cubic-bezier(.77, 0, .18, 1);
}

.bold.hoverUnderlineAnimation::after {
	height: 2px;
}

.hoverUnderlineAnimation:hover::after {
	/* Final state: full width */
	transform: scaleX(1);
	transform-origin: bottom left;
}

.bg-l4 {
	background-color: var(--l4);
}

.fg-l4 {
	--currentForeground: var(--l4);
	color: var(--currentForeground);
}

.hover-fg-l4:hover {
	--currentForeground: var(--l4);
	color: var(--l4);
}

.decorationC-l4 {
	--decorationColor: var(--l4);
}

.decorationC-fg {
	--decorationColor: var(--currentForeground);
}

.bg-l5 {
	background-color: var(--l5);
}

.fg-l5 {
	--currentForeground: var(--l5);
	color: var(--l5);
}

.bg-d5-fixed {
	background-color: var(--dark-l5);
}

.decorationC-l5 {
	--decorationColor: var(--l5);
}

.vCenter {
	align-self: center;
}

.vBottom {
	/*! display: inline-flex; */
	/*! flex-direction: column; */
	/*! justify-content: end; */
	align-content: end;
}

.layoutVBottom {
	align-content: end;
	align-items: end;
}

.hCenter {
	justify-self: center;
}

.hRight {
	justify-self: right;
}

.layoutHCenter {
	justify-items: center;
	justify-content: center;
}

.vBigPad {
	padding-top: var(--bigPadding);
	padding-bottom: var(--bigPadding);
}

.tBigPad {
	padding-top: var(--bigPadding);
}

.bBigPad {
	padding-bottom: var(--bigPadding);
}

.hBigPad {
	padding-left: var(--bigPadding);
	padding-right: var(--bigPadding);
}

.lBigPad {
	padding-left: var(--bigPadding);
}

.rBigPad {
	padding-right: var(--bigPadding);
}

.vPad {
	padding-top: var(--normalPadding);
	padding-bottom: var(--normalPadding);
}

.tPad {
	padding-top: var(--normalPadding);
}

.bPad {
	padding-bottom: var(--normalPadding);
}

.hPad {
	padding-left: var(--normalPadding);
	padding-right: var(--normalPadding);
}

.lPad {
	padding-left: var(--normalPadding);
}

.rPad {
	padding-right: var(--normalPadding);
}

.Pad {
	padding: var(--normalPadding);
}


.vUnitPad {
	padding-top: var(--paddingUnit);
	padding-bottom: var(--paddingUnit);
}

.tUnitPad {
	padding-top: var(--paddingUnit);
}

.bUnitPad {
	padding-bottom: var(--paddingUnit);
}

.hUnitPad {
	padding-left: var(--paddingUnit);
	padding-right: var(--paddingUnit);
}

.rUnitPad {
	padding-right: var(--paddingUnit);
}

.lUnitPad {
	padding-left: var(--paddingUnit);
}

.v10Pad {
	padding-top: 10px;
	padding-bottom: 10px;
}

.vAltPad {
	padding-top: calc(var(--paddingUnit) * 2.5);
	padding-bottom: calc(var(--paddingUnit) * 2.5);
}

.tAltMarg {
	margin-top: calc(var(--paddingUnit) * 2.5);
}

.vAltMarg {
	margin-top: calc(var(--paddingUnit) * 2.5);
	margin-bottom: calc(var(--paddingUnit) * 2.5);
}

.MargResp {
	margin: var(--normalResponsivePadding);
}

.navPad {
	padding-top: var(--nav-height);
}

.s0 {
	grid-column-start: 1;
}

.s1 {
	grid-column-start: 2;
}

.s2 {
	grid-column-start: 3;
}

.s3 {
	grid-column-start: 4;
}

.s4 {
	grid-column-start: 5;
}

.s5 {
	grid-column-start: 6;
}

.s6 {
	grid-column-start: 7;
}

.s7 {
	grid-column-start: 8;
}

.s8 {
	grid-column-start: 9;
}

.s9 {
	grid-column-start: 10;
}

.s10 {
	grid-column-start: 11;
}

.s11 {
	grid-column-start: 12;
}

.s12 {
	grid-column-start: 13;
}

.s13 {
	grid-column-start: 14;
}

.e0 {
	grid-column-end: 2;
}

.e1 {
	grid-column-end: 3;
}

.e2 {
	grid-column-end: 4;
}

.e3 {
	grid-column-end: 5;
}

.e4 {
	grid-column-end: 6;
}

.e5 {
	grid-column-end: 7;
}

.e6 {
	grid-column-end: 8;
}

.e7 {
	grid-column-end: 9;
}

.e8 {
	grid-column-end: 10;
}

.e9 {
	grid-column-end: 11;
}

.e10 {
	grid-column-end: 12;
}

.e11 {
	grid-column-end: 13;
}

.e12 {
	grid-column-end: 14;
}

.e13 {
	grid-column-end: 15;
}

.gr-s1 {
	grid-row-start: 1;
}

.gr-s2 {
	grid-row-start: 2;
}

.gr-s3 {
	grid-row-start: 3;
}

.gr-s4 {
	grid-row-start: 4;
}

.gr-s5 {
	grid-row-start: 5;
}

.gr-e1 {
	grid-row-end: 1;
}

.gr-e2 {
	grid-row-end: 2;
}

.gr-e3 {
	grid-row-end: 3;
}

.gr-e4 {
	grid-row-end: 4;
}

.gr-e5 {
	grid-row-end: 5;
}

.vFill {
	height: 100%;
}

.vFillView {
	height: calc(100vh - var(--nav-height));
}

.hShrink {
	width: fit-content;
}

.hFill {
	width: 100%;
}

.vSpaceing {
	display: flex;
	flex-direction: column;
	/*! grid-template-rows: 1fr 1fr 1fr; */

	justify-content: space-between;
}

.light {
	font-weight: 200;
}

.regular {
	font-weight: normal;
}

.bold {
	font-weight: 600;
}

.noMargin {
	margin-bottom: 0;
}

.hGrid {
	display: grid;
	column-gap: var(--grid-gap);
	/* 1space 12 columns 1space */
	grid-template-columns: calc(var(--site-padding) - var(--grid-gap)) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr calc(var(--site-padding) - var(--grid-gap));
}

.hGrid2 {
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
}

.il-grid {
	display: inline-grid;
}

.il-flex {
	display: inline-flex;
}

.flex {
	display: flex;
}

.vflex {
	display: flex;
	flex-direction: column;
}

.v100 {
	height: 100vh;
}

.minV100 {
	min-height: 100vh;
}

.rGap {
	padding-right: var(--grid-gap);
}

.vhGrid {
	display: grid;
	column-gap: var(--grid-gap);
	grid-template-columns: calc(var(--site-padding) - var(--grid-gap)) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr calc(var(--site-padding) - var(--grid-gap));
	grid-auto-rows: auto;
}

.tlRound {
	border-top-left-radius: var(--borderRadius);
}

.trRound {
	border-top-right-radius: var(--borderRadius);
}

.blRound {
	border-bottom-left-radius: var(--borderRadius);
}

.brRound {
	border-bottom-right-radius: var(--borderRadius);
}

.lRound {
	border-top-left-radius: var(--borderRadius);
	border-bottom-left-radius: var(--borderRadius);
}

.rRound {
	border-top-right-radius: var(--borderRadius);
	border-bottom-right-radius: var(--borderRadius);
}

.allRound {
	border-radius: var(--borderRadius);
}

.allRoundBig {
	border-radius: var(--borderRadiusBig);
}

.RightFloat {
	position: relative;
	left: 15%;
	transition: left var(--liquid) var(--liquidDuration);
	z-index: 0;
}

.RightFloat.More {
	left: 20%;
}

.RightFloat.More2 {
	left: 25%;
}

.RightFloat.More3 {
	left: 30%;
}

.RightFloat.From0 {
	left: 0%;
}

.RightFloat.From15vw {
	left: 15vw;
}

.RightFloat.From10 {
	left: 10%;
}

.RightFloat.From50 {
	left: 50%;
}

.RightFloat.From75 {
	left: 75%;
}

.FloatTrigger:hover .RightFloat,
.RightFloat:hover,
.FloatTrigger:hover .RightFloat.To0,
.RightFloat.To0:hover {
	left: 0%;
}

.FloatTrigger:hover .RightFloat.To5,
.RightFloat.To5:hover {
	left: 5%;
}

.FloatTrigger:hover .RightFloat.ToPad,
.RightFloat.ToPad:hover {
	left: var(--normalPadding);
}

.FloatTrigger:hover .RightFloat.ToUnitPad,
.RightFloat.ToUnitPad:hover {
	left: var(--paddingUnit);
}


.liquidAll {
	transition: all var(--liquid) var(--liquidDuration);
}

.liquidColor {
	transition: color var(--liquid) var(--liquidDuration);
}

.snappyColor {
	transition: color var(--fastLiquid) var(--fastLiquidDuration);
}

.liquidPad {
	transition: padding var(--liquid) var(--liquidDuration);
}
.liquidMarg {
	transition: margin var(--liquid) var(--liquidDuration);
}

.liquidOpacity {
	transition: opacity var(--liquid) var(--liquidDuration);
}

.abs {
	position: absolute;
}

.Container {
	overflow: hidden;
	/* position: relative; */
}

.Scrollable {
	overflow: auto;
}

.fg-white-fix a,
.fg-white-fix p,
.fg-white-fix h1,
.fg-white-fix h2,
.fg-white-fix h3,
.fg-white-fix h4,
.fg-white-fix h5,
.fg-white-fix h6 {
	color: white;
}

.fixed {
	position: fixed;
}

.glass {
	backdrop-filter: blur(var(--glassBlurradius)) saturate(400%);
	background-color: var(--glassColor);
}

.hoverZoom:hover {
	scale: 1.05;
}

.hoverZoomMore:hover {
	scale: 1.1
}

.hiddenButton:hover {
	background-color: var(--l1);
}

button.primary,
.buttonPrimary {
	border-radius: 2px;
	border-width: 2px;
	border-style: solid;

	border-color: var(--l1);
	background-color: var(--l1);
	color: var(--l6);
	line-height: 1em;
	padding: 10px;
	font-size: 0.9em;
	font-weight: 200;

	cursor: pointer;
}

button.primary.hover,
.buttonPrimary.hover,
button.secondary.hover,
.buttonSecondary.hover {
	transition:
	color var(--snappyDuration) var(--snappy),
	background-color var(--snappyDuration) var(--snappy),
	border-color var(--snappyDuration) var(--snappy),
	;
}

button.primary.invalid {
	border-color: var(--l2);
	background-color: transparent;
	color: var(--l2);
}

button.primary.invalid.hover:hover {
	color: var(--l3);
	border-color: var(--l3);
}

button.primary.hover:hover,
.buttonPrimary.hover:hover {
	color: var(--foregroundColor);
	background-color: var(--backgroundColor);
}

button.primary.hover:active,
.buttonPrimary.hover:active {
	border-color: var(--l2);
	background-color: var(--l2);
	color: var(--l6);
}

/* Outline version */
button.secondary,
.buttonSecondary {
	border-radius: 2px;
	border-width: 2px;
	border-style: solid;

	line-height: 1em;
	padding-block: 10px;
	padding-inline: 13px;
	font-size: 0.9em;
	font-weight: 200;

	color: var(--l1);
	border-color: var(--l1);
	background-color: rgb(from var(--backgroundColor) r g b / 0.8);
	backdrop-filter: blur(20px);

	cursor: pointer;
}

button.secondary.hover:hover,
.buttonSecondary.hover:hover {
	border-color: var(--l1);
	background-color: var(--l1);
	color: var(--l6);
}

button.secondary.hover:active,
.buttonSecondary.hover:active {
	border-color: var(--l2);;
	background-color: var(--l2);
	color: var(--l6);
}

.hover-highlight:hover {
	background-color: var(--l6);
}

h2.hover-highlight {
	text-shadow: -1px -1px 0 #00000000, 1px -1px 0 #00000000, -1px 1px 0 #00000000, 1px 1px 0 #00000000;
}

h2.hover-highlight:hover {
	color: var(--l2);
	background-color: revert;
}

@media screen and (max-width: 730px) {
	:root {
		--paddingUnit: 20px;
	}

	button.secondary, .buttonSecondary, button.primary, .buttonPrimary {
		/* text-size-adjust: 100%; */
		font-size: 1.15em;
	}

	.ph-block {
		display: block;
	}

	.hGrid,
	.vhGrid {
		/* change to 5 column layout */
		grid-template-columns: var(--site-padding) 1fr 1fr 1fr 1fr 1fr var(--site-padding);
	}

	.ph-hGrid1 {
		grid-auto-flow: unset;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
	}

	.ph-hGrid2 {
		grid-auto-flow: column;
		grid-template-columns: 1fr 1fr;
	}

	.s7,
	.s8,
	.s9,
	.s10,
	.s11,
	.s12.s13 {
		grid-column-start: unset;
	}

	.e7,
	.e8,
	.e9,
	.e10,
	.e11,
	.e12.e13 {
		grid-column-end: unset;
	}

	.navPad {
		padding-top: unset;
	}

	.ph-navPad {
		padding-top: var(--nav-height);
	}

	.ph-bNavPad {
		padding-bottom: var(--nav-height);
	}

	.ph-NoFloat {
		position: unset;
	}


	.ph-s0 {
		grid-column-start: 1;
	}

	.ph-s1 {
		grid-column-start: 2;
	}

	.ph-s2 {
		grid-column-start: 3;
	}

	.ph-s3 {
		grid-column-start: 4;
	}

	.ph-s4 {
		grid-column-start: 5;
	}

	.ph-s5 {
		grid-column-start: 6;
	}

	.ph-s6 {
		grid-column-start: 7;
	}

	.ph-e0 {
		grid-column-end: 2;
	}

	.ph-e1 {
		grid-column-end: 3;
	}

	.ph-e2 {
		grid-column-end: 4;
	}

	.ph-e3 {
		grid-column-end: 5;
	}

	.ph-e4 {
		grid-column-end: 6;
	}

	.ph-e5 {
		grid-column-end: 7;
	}

	.ph-e6 {
		grid-column-end: 8;
	}

	.ph-gr-s1 {
		grid-row-start: 1;
	}

	.ph-gr-s2 {
		grid-row-start: 2;
	}

	.ph-gr-s3 {
		grid-row-start: 3;
	}

	.ph-gr-s4 {
		grid-row-start: 4;
	}

	.ph-gr-s5 {
		grid-row-start: 5;
	}

	.ph-gr-e5 {
		grid-row-end: 5;
	}

	.ph-flex-vert {
		flex-direction: column;
	}

	.ph-PadResp {
		padding-top: var(--normalResponsivePadding);
		padding-bottom: var(--normalResponsivePadding);
		padding-left: var(--normalResponsivePadding);
		padding-right: var(--normalResponsivePadding);
	}

	.ph-tPadResp {
		padding-top: var(--normalResponsivePadding);
	}

	.ph-vPad {
		padding-top: var(--normalPadding);
		padding-bottom: var(--normalPadding);
	}

	.ph-hPad {
		padding-left: var(--normalPadding);
		padding-right: var(--normalPadding);
	}

	.ph-lPad {
		padding-left: var(--normalPadding);
	}

	.ph-rPad {
		padding-right: var(--normalPadding);
	}

	.ph-rNoPad {
		padding-right: 0;
	}

	.ph-hUnitMarg {
		margin-left: var(--paddingUnit);
		margin-right: var(--paddingUnit);
	}

	.ph-allRoundBigResp {
		border-radius: var(--borderRadiusBigResponsive);
	}

	.vAltMarg {
		margin-top: unset;
		margin-bottom: unset;
	}

	.ph-v0Pad {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.ph-t0Pad {
		padding-top: 0px;
	}

	.ph-tUnitPad {
		padding-top: var(--paddingUnit);
	}

	.ph-bUnitPad {
		padding-bottom: var(--paddingUnit);
	}

	.ph-vUnitPad {
		padding-top: var(--paddingUnit);
		padding-bottom: var(--paddingUnit);
	}

	.ph-vCenter {
		align-self: center;
	}

	.ph-rGap {
		padding-right: var(--grid-gap);
	}

	.ph-hUnset {
		justify-self: unset;
	}

	.ph-hFill {
		width: 100%;
	}

	.ph-hCenter {
		justify-self: center;
	}
}